@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #fff;
}


:root {
    --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1,
h2 {
    margin-top: 2%;
}

/* --------------------------------------------





NAV NAV NAV NAV NAV----------------------------------------------- */

.nav-links {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
}

.nav-links li {
    list-style-type: none;
    padding-left: 3rem;
}

.nav-links li a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.nav-links li:nth-of-type(1) a {
    font-weight: 900;
    font-size: 3.5rem;
    text-transform: capitalize;
    color: RGB(126, 34, 206);
    -webkit-text-stroke: 1px RGB(126, 34, 206);
}

.nav-links li:nth-of-type(1) a span {
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    font-size: 2.5rem;
    color: white;
    -webkit-text-stroke: 1px RGB(126, 34, 206);
    text-transform: uppercase;

}

.nav-links li:nth-of-type(1) a span:nth-of-type(2) {
    letter-spacing: -12px;
    margin-left: -16px;
}

.nav-links li a:hover {
    color: rgb(181, 181, 181);
}

.nav-links li:nth-of-type(6) {
    position: absolute;
    right: 15px;
    top: 15px;
}

.nav-links li:nth-of-type(6) a {
    font-size: 25px;
    margin-left: 1.5rem;
    justify-content: flex-end;
}

/* -------------------First Section First -------------- */

.Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

}

.firstBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right, #ffffff 0%, RGB(126, 34, 206) 100%);
}

.para {
    font-weight: 300;
}

.firstBtn {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.firstBtn a {
    margin-top: 10px;
    margin-right: 10px;
}

.introBox {
    margin-top: 10rem;
    padding-left: 5rem;
    justify-content: center;
}

.imageBox {
    position: relative;
    bottom: -20px;
    right: 0;
}

.btnPrimary {
    background-color: RGB(126, 34, 206);
    box-shadow: var(--shadow);
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: white;
    border-radius: 5rem;
    border: 1px solid RGB(126, 34, 206);
}


.secondaryBtn {
    background-color: white;
    box-shadow: var(--shadow);
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: black;
    border-radius: 5rem;
    border: 1px solid RGB(126, 34, 206);
}

.secondaryBtn:hover {
    background-color: RGB(126, 34, 206);
    box-shadow: var(--shadow);
    color: white;
    border: 1px solid RGB(126, 34, 206);
}



/* --------------Resume Resume Resume-------------- */

.secondBox {
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.resume-img {
    margin-top: 5%;

}

.resume-img img {
    width: 300px;
    box-shadow: var(--shadow);
    border-radius: 15px;

}

.resume-img img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.educationDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.educationDetail h1 {
    padding: 0 3rem;
    font-weight: 600;
    font-size: 3rem;
    color: RGB(126, 34, 206);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 0rem;
    border-bottom: 5px solid RGB(126, 34, 206);
}

.detail {
    display: flex;
    flex-direction: column;
}

.resumeList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.resumeList span {
    font-weight: bold;
    padding-bottom: .1rem;
    margin-bottom: .1rem;
    font-size: 1.2rem;
    color: RGB(126, 34, 206);
}

.resumeList p {
    font-size: 1rem;
    /* padding-left: 1rem; */
}


/* -----------Skill Skill Skill------------- */

.skillHeading h1 {
    color: RGB(126, 34, 206);
    border-bottom: 5px solid RGB(126, 34, 206);
    padding: 0 3rem;
    margin-bottom: 1rem;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    width: 20%;
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: left;
    justify-content: center;
    padding: 0.5rem 2.5rem;
    box-shadow: var(--shadow);
    margin: .5rem;
    border-radius: .8rem;

}

.skill:hover {
    background-color: rgb(237, 237, 237);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}



.skill img {
    width: 15%;
    margin-bottom: .3rem;
}

.skill h3 {
    /* color: RGB(126, 34, 206); */
    color: black;
    margin-bottom: .7rem;
    font-weight: 500;
}


/* -----------Projects Section ---------------- */

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.projects h1 {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid RGB(126, 34, 206);
    /* width: 30%; */
}

.projectInfo {
    width: 25%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.projectInfo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.projectInfo h3 {
    display: flex;
    color: black;
    flex-direction: column;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
}

.projectInfo h4 {
    padding: 1rem 0;
    color: black;
    font-weight: 700;
}

.projectInfo p {
    font-weight: 300;
    font-size: 0.8rem;
}

.myProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 9%;
}



.projectInfo img {
    margin-top: 20px;
    width: 100%;
}

.projectInfo h3 {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

.footer {
    /* background-color: rgb(238, 238, 238); */
    padding: 20px;
    box-shadow: var(--shadow);
    text-align: center;
    position: static;
    bottom: 0;
    width: 100wh;
    height: 50x;
}

@media screen and (max-width:850px) {
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }

    nav {
        position: relative;
        height: 10vh;
    }

    .hamburger {
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 5%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: relative;
        background: RGB(126, 34, 206);
        height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
    }



    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }

    .nav-links li a {
        color: white;
        font-size: 2rem;
        font-weight: 900;
    }

    .nav-links li:nth-of-type(1) {
        border: 1px solid white;
        padding: 0rem 2rem;
        display: none;
    }

    .nav-links li:nth-of-type(6) {
        position: relative;
    }


    .firstBox {
        flex-direction: column-reverse;
    }

    .firstBox .imageBox {
        display: none;
    }

    .introBox {
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .secondBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .educationDetail {
        width: 100%;
    }

    .detail {
        width: 100%;
    }

    .resume-img {
        width: 100%;
        margin-left: 0;
    }

    .resume-img img {
        width: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .skillContainer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .skillDiv {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .skill {
        width: 65%;
    }

    .myProjects .projectInfo {
        width: 80%;
    }



}

@media screen and (min-width:1500px) {
    .firstBox {
        height: 45vh;
    }

    .imageBox {
        position: relative;
        bottom: -20px;
        right: 0;
    }
}