@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #fff;
}


:root {
    --shadow: 0px 0px 15px -9px;
}

h1,
h2 {
    margin-top: 2%;
}

/* --------------------------------------------





NAV NAV NAV NAV NAV----------------------------------------------- */

.nav-links {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
}

.nav-links li {
    list-style-type: none;
    padding-left: 3rem;
}

.nav-links li a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.nav-links li a:hover {
    color: rgb(181, 181, 181);
}

.nav-links li:nth-of-type(5) {
    position: absolute;
    right: 15px;
    top: 15px;
}

.nav-links li:nth-of-type(5) a {

    margin-left: 1rem;
    justify-content: flex-end;
}

/* -----------------------------------------------First Section First First First ----------------------------------------- */

.Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

}

.firstBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.firstBtn {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.firstBtn a {
    margin-top: 10px;
    margin-right: 10px;
}

.introBox {
    padding-left: 50px;
    justify-content: center;
    padding-top: 7%;
}

.imageBox {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.introBox h1 span {
    font-weight: 900;
    font-size: 3rem;
    line-height: 30%;
    letter-spacing: -0.1rem;
    color: RGB(126, 34, 206);

}

.intro p {
    line-height: 90%;
    margin-top: 20px;
}

.secondaryBtn {
    background-color: white;
    box-shadow: var(--shadow);
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    border-radius: 5rem;
    border: 1px solid RGB(126, 34, 206);
}

.secondaryBtn:hover {
    background-color: RGB(126, 34, 206);
    padding: 10px 30px;
    box-shadow: var(--shadow);
    color: white;
    border-radius: 5rem;
    border: 1px solid RGB(126, 34, 206);
}

.secondBox {
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* -----------------------------------Resume Resume Resume Resume Resume------------------------------------------ */


.resume-img {
    width: 50%;
    margin-left: 12%;
    margin-top: 5%;
}

.resume-img img {
    width: 300px;
    box-shadow: var(--shadow);
    border-radius: 15px;

}

.educationDetail {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.educationDetail h1 {
    padding: 0 3rem;
    font-weight: 600;
    font-size: 3rem;
    color: RGB(126, 34, 206);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 0rem;
    border-bottom: 5px solid RGB(126, 34, 206);
}

.detail {
    display: flex;
    flex-direction: column;
}

.resumeList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.resumeList span {
    font-weight: bold;
    padding-bottom: .1rem;
    margin-bottom: .1rem;
    font-size: 1.2rem;
    color: RGB(126, 34, 206);
}

.resumeList p {
    font-size: 1rem;
    /* padding-left: 1rem; */
}


/* ----------------------------------------Skill Skill Skill Skill Skill------------------------------------ */

.skillHeading h1 {
    color: RGB(126, 34, 206);
    border-bottom: 5px solid RGB(126, 34, 206);
    padding: 0 3rem;
    margin-bottom: 1rem;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.skill {
    width: 15%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    box-shadow: var(--shadow);
    margin: .5rem;
    border-radius: .8rem;

}

.skill:hover {
    background-color: rgb(237, 237, 237);
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    background: RGB(126, 34, 206);
}



.skill img {
    width: 15%;
    margin-bottom: .5rem;
}

.skill h3 {
    /* color: RGB(126, 34, 206); */
    color: black;
    margin-bottom: .7rem;
    font-weight: 400;
}



.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.projects h1 {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid RGB(126, 34, 206);
    /* width: 30%; */
}

.projectInfo h3 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    border-bottom: 5px solid RGB(126, 34, 206);
}

.myProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 9%;
}

.projectInfo {
    width: 25%;
    margin: 1rem;
}



.projectInfo img {
    box-shadow: var(--shadow);
    margin-top: 20px;
    width: 100%;
}

.projectInfo h3 {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

.footer {
    /* background-color: rgb(238, 238, 238); */
    padding: 20px;
    box-shadow: var(--shadow);
    text-align: center;
    position: static;
    bottom: 0;
    width: 100wh;
    height: 50x;
}

@media screen and (max-width:850px) {
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }

    nav {
        position: relative;
        height: 10vh;
    }

    .hamburger {
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 5%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: relative;
        background: RGB(126, 34, 206);
        height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
    }



    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }

    .nav-links li:nth-of-type(5) {
        position: relative;
    }


    .firstBox {
        flex-direction: column-reverse;
    }

    .firstBox .imageBox img {
        width: 100%;
    }

    .secondBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .educationDetail {
        width: 100%;
    }

    .detail {
        width: 100%;
    }

    .resume-img {
        width: 100%;
        margin-left: 0;
    }

    .resume-img img {
        width: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .skillContainer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .skillDiv {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .skill {
        width: 25%;
    }

    .myProjects .projectInfo {
        width: 80%;
    }



}